/***** Section *****/ 
fieldset{
    border: 2px solid #c3c6c9;
    border-radius: 10px;
} 
legend{
    font-weight: bold;
}
.section-stylisée input[type=radio]:checked{
    accent-color: #007BFF;
}
.section-stylisée input [type=checkbox]:checked{
    accent-color: #007BFF;
}
input{
    color: bisque;
    border: #06182b;
 /***** End Section *****/
